# Logs
Course/logs
Course/*.log
Course/npm-debug.log*
Course/yarn-debug.log*
Course/yarn-error.log*
Course/pnpm-debug.log*
Course/lerna-debug.log*

Course/node_modules
Course/dist
Course/dist-ssr
Course/*.local

# Editor directories and files
Course/.vscode/*
Course/!.vscode/extensions.json
Course/.idea
Course/.DS_Store
Course/*.suo
Course/*.ntvs*
Course/*.njsproj
Course/*.sln
Course/*.sw?
